# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
env_test/
PLAI_dev_env/
myenv/
my_env/

# Environment variables
.env

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
coverage.xml
*.cover
.hypothesis/

# Django stuff (if using Django)
*.log
local_settings.py
db.sqlite3

# Flask stuff (if using Flask)
instance/
.webassets-cache

# Jupyter notebooks
.ipynb_checkpoints

# Pyre (Python type checker)
.pyre/

# VSCode settings (if using Visual Studio Code)
.vscode/
